In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('fivethirtyeight')

In [ ]:
imcome_data = pd.read_csv('.data/income_data_nlsy..', usecols=['CASEID', ])

In [ ]:
income_data.groupby('year').count() #gives us a count of the number of records for each year - shows that some data is missing
#can achieve same using
income_data.info()
#alternative to see where nulls are
income_data.isnull().count()

In [8]:
education_data = pd.read_csv('./data2/education_data_nlsy79.csv', usecols=['CASEID', 'education', 'year'])

In [ ]:
# ~ means not , so in the ~physical_data example, checking where the results are not null

In [16]:
education_data_2014 =  education_data[education_data['year']==2014]

In [19]:
education_data_2014.head()

        CASEID  education  year
317150       1        NaN  2014
317151       2       12.0  2014
317152       3       10.0  2014
317153       4        NaN  2014
317154       5        NaN  2014

In [ ]:
figures, axis = 

axis.hist(education_data_2014,.dropna(), bins=20)

In [ ]:
grouping by education and race, unstack pivots it back into a dataframe
unstack useful when grouping or graphing

In [ ]:
group_1 example
    condition which uses level=0
    group_by(level=0) -> rolls up on itself